@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap);
* {
  font-family: "Geometria", sans-serif;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  background: lightGrey;
  padding: 5rem 1rem;
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Geometria", sans-serif;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

p {
  margin: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  background: white;
  padding: 2rem 1.5rem;
  border-radius: 1rem;
}

.open-button {
  background: red;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  border-radius: 5rem;
  cursor: pointer;
  transition: all 0.5s;
}
.open-button:hover {
  background: #FF4E3F;
}

.text {
  text-align: left;
  font-size: 1rem;
  line-height: 1.5rem;
}

.modal {
  position: absolute;
  max-width: 55.9375rem;
  display: none;
  background: white;
  height: max-content;
  padding: 3.125rem 6.3125rem 3.75rem 3.125rem;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
  border-radius: 0.9375rem;
}
@media screen and (max-width: 64rem) {
  .modal {
    padding: 2.125rem 1.75rem;
  }
}
.modal.active {
  display: block;
  animation: fade-in 0.5s forwards;
}
.modal.no-active {
  display: block;
  animation: fade-out 0.5s forwards;
}

.modal-title {
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.5rem;
}

.overlay {
  position: absolute;
  display: none;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.3s;
  background: black;
  z-index: 1;
  transition: 0.5s;
}
.overlay.active {
  opacity: 0.3;
  display: block;
}

.modal__title-line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.875rem;
}

.form {
  display: flex;
  gap: 1.25rem;
  flex-wrap: wrap;
  margin-bottom: 1.875rem;
}
.form input {
  width: 100%;
  border-radius: 0.5rem;
  border: 0.0625rem solid #DEE2E8;
  padding: 1.5rem;
  font-size: 1rem;
  font-family: "Geometria", sans-serif;
  color: #1C2A37;
}
.form input:focus {
  outline: none;
  background: #E2E2E2;
}

.close-modal {
  cursor: pointer;
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  right: 1.25rem;
  top: 1.875rem;
}
.close-modal .close-modal-inner {
  position: relative;
}
.close-modal .close-modal-inner::before, .close-modal .close-modal-inner::after {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.0625rem;
  background: #163C68;
  left: 0;
  right: 0;
  margin: auto;
}
.close-modal .close-modal-inner::before {
  transform: rotate(45deg);
}
.close-modal .close-modal-inner::after {
  transform: rotate(-45deg);
}

.submit-form {
  padding: 0.875rem 2rem;
  border: none;
  border-radius: 0.5rem;
  color: #FFF;
  background: #FF144F;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  height: 2.75rem;
  margin: auto 0;
  transition: all 0.5s;
}
.submit-form:hover {
  background: #FF4E3F;
}

.modal__footer-line {
  display: flex;
  gap: 1.25rem;
}
@media screen and (max-width: 64rem) {
  .modal__footer-line {
    flex-direction: column;
  }
}

.conf {
  padding: 0.375px 0;
  font-size: 0.75rem;
  color: #9CA7B5;
  line-height: 1rem;
  width: 100%;
  max-width: 24.3125rem;
  text-align: left;
}
.conf a {
  color: #1C2A37;
  text-decoration: none;
}
@media screen and (max-width: 64rem) {
  .conf {
    max-width: unset;
    text-align: center;
  }
}

.itc-select__toggle {
  padding: 1.5rem;
  font-style: normal;
  color: #1C2A37;
  border: 0.0625rem solid #DEE2E8;
}

.itc-select__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 37.0625rem;
  row-gap: 1rem;
  column-gap: 3.125rem;
}

.itc-select__dropdown {
  padding: 1.5rem;
  top: 100%;
}

.itc-select__option {
  width: 100%;
  max-width: 8.6875rem;
  text-align: left;
  padding-top: 0;
  padding-bottom: 0;
}
.itc-select__option:hover {
  background: none;
  color: #FF144F;
}

.itc-select__option_selected {
  background: none;
  color: #FF144F;
}
.itc-select__option_selected::after {
  content: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.form .input-message {
  height: 7.5rem;
  resize: none;
  color: #1C2A37;
  font-weight: 400;
  width: 100%;
  border-radius: 0.5rem;
  border: 0.0625rem solid #DEE2E8;
  padding: 1.5rem;
  font-size: 1rem;
  font-family: "Geometria", sans-serif;
  color: #1C2A37;
}
.form .input-message:focus {
  outline: none;
  background: #E2E2E2;
}

/*# sourceMappingURL=main.css.map */
